# Virtual environment
**.venv

# Byte-compiled, optimized or DLL files
**__pycache__
**.py[cod]
**$py.class

# Jupyter Notebook
**.ipynb_checkpoints

# MacOS
**.DS_Store

# PyCharm
**.idea

# Other data
**scratch
**.log
**.err

# Data folders
/data
/plots
